body {
    margin: 0;
    padding: 0;

    font-family:"PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position:top center;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{

position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip:rect(0 0 0 0);

overflow: hidden;
}

.inner-page{
    color:#000000;

    background-color: #f9f6f3;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button{
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;

    font:inherit;
    text-align: middle;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:active,
.button:focus{
    background-color: #663d15;
}

.button.disabled,
.button:disabled{
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.inner-page .main-navigation{
    align-items: flex-start;
    flex-direction: row;
}

.inner-page .user-navigation{
    margin-left: auto;
}

.inner-page .main-header{
    margin-bottom: 50px;
    background-color: #000000;
}

.inner-page .main-header-logo{
    order: 0;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
}
.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 20px 25px;
    vertical-align: middle;
    color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #242424;  
}

.features-list{
    list-style: none;
}

.feature-item{
    text-align: center;
}

.feature-item h3{
    font-size: 30px;
    line-height: 42px;
}

.index-colums{
    color: #000000;

    background-color: #f8f5f2;
    border-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.index-colums h2{
    font-size:30px;
    line-height: 42px;
}

.news-list{
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}
.news-item{
    margin-bottom: 25px;
}

.news-item p{
margin: 0;
}

.contacts p{
    margin-bottom: 25px;
}

.news-item time{
    text-transform: none;
}

.gallery-content {
    height: 164px;
    margin: 0;
    color: #ffffff;
    border: 7px solid #ffffff;
}

.gallery-content img{
    width: 286px;
    height: 164px;
}

.gallery-container{
    position: relative;
    height: 260px;
}

.button-gallery{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;

}

.button-gallery-back{
    left: 0;
}
.button-gallery-next{
    right: 0;
}

.appointment{
    width: 300px;
}

.appointment-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item{
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item label{
    display: block;
    margin-bottom:9px;
    margin-left:15px;

}


.appointment-item input{

    box-sizing: border-box;
    width: 140px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    font:inherit;

    background-color:transparent;
    border: 2px solid #000000;
}

.appointment .button{
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}

.appointment-item input:focus{
    border-color: #663d15;
}


.page-title{
    font-size: 30px;
    line-height: 42px;
}

.breadcrums {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

}

.breadcrums a{
 color: #000000;
}

.breadcrums a:hover,
.breadcrums a:focus{
    text-decoration: underline;
}

.breadcrums-current{
    color: #aba9a7;
}

.filters{
    width: 180px;
}

.filters fieldset{
    border:none;
}

.filters legend{
    font-size:24px;
    line-height: 30px;
}

.filters ul{
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label{
    color: #663d15;
}
.filter-input:disabled + label{
    color: #000000;

    opacity: 0.5;
}

.catalog{
    width: 700px;
}

.catalog-colums{
    display: flex;
    justify-content: space-between;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
    
}

.catalog-item {
background-color:#f8f8f8;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 220px;
margin-bottom: 20px;
margin-right: 20px;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a{
    color: #000000;
}

.catalog-item h3{
    font-size: 14px;
    line-height: 18px;
}

.catalog-category{
    text-transform: none;
}

.catalog-item-price b{
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #ffffff;
}

.catalog-item-price .button{
    line-height: 20px;
    color: #ffffff;
}

.pagination-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item a{
    color: #ffffff;
    background-color:#000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active{
    background-color: #663d15;
}

.pagination-item-current a{
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
    color: #000000;

    background-color: #ffffff;
}

.product-photos{
    width: 460px;
}

.product-photo-prewiew{
    list-style: none;
}

.product-photo-prewiew li{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.product-price b{
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.product-info{
    width: 390px;
}

.product-info h3{
    font-size: 24px;
    line-height: 30px;
}

.product-info ul{
    list-style: none;
}
.main-footer{
    color: #ffffff;

    background-color: #212121;
    background-image: url(../img/pattern-dark.jpg);
    background-position:0 0;
    background-repeat: repeat;
}

.footer-contacts a{
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}

.footer-social{
    text-align: center;
}

.footer-social ul{
    display: flex;
    flex-wrap:wrap;
    width: 141px;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    color: #ffffff;
    background-color: #000000;
}

.social-button:hover,
.social-button:focus{
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path{
    fill: #000000;
}

.footer-social b{
    display: block;
    margin-bottom: 15px;
}

.footer-copyright{
    text-align: center;
}

.footer-copyright b{
    display: block;
    margin-bottom: 15px;
}


.footer-copyright .button{
    display: block;
    margin-right: 0;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus{
    color: #000000;

    background-color: #ffffff;
}

/*сеточные стили*/
.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header{
    margin-bottom: 75px;
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
}

.main-header-logo{
    width: 368px;
    height: 153px;
    order: 2;
}

.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 70px;
    background-color: #000000;
}

.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}

.site-navigation{
    width: 620px;
    margin: 0;
    padding: 0;
    list-style:none;
}


.user-navigation{
    max-width: 140px;
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;

}

.user-navigation .login-link{
    padding-left: 50px;
    position: relative;
}

.login-link::before{
    content:"";
    position: absolute;
    width: 16px;
    height: 18px;
    top:23px;
    left: 24px;
    background-image: url(../svg/login.svg);
    background-repeat: no-repeat;
    opacity: 0.3;

}

.login-link:hover::before,
.login-link:active::before,
.login-link:focus::before {
    opacity:1;
}


.features{
    margin-bottom: 80px;
}
.features-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.feature-item{
    width: 300px;
}

.feature-item h3{
    margin: 0;
    margin-bottom: 60px;
    position: relative;
}

.feature-item h3::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.feature-item p{
    margin: 0 10px;
    
}
.index-colums{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    background-color: #f8f8f8;
    background-image: 
        url(../img/line.png),
        url(../img/pattern-light.jpg);
    background-position:center, 0 0;
    background-repeat:no-repeat, repeat;
}

.news{
    width: 380px;
}

.gallery{
    width: 300px;
}

.contacts{
    width: 380px;
}



.page-title{
    margin: 0;
    margin-bottom: 15;
    padding: 0;
}

.inner-page .main-footer{
    margin-top: 45px;
}

.main-footer{
    margin-top: 65px;
    padding: 60px 0;
}

.main-footer .container{
    display: flex;
}

.footer-contacts{
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-social{
    width: 145px;
}

.footer-copyright{
    width: 150px;
    margin: 0;
    margin-left: auto;
}

